@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
}

.nav-header{
    position: sticky;
    top: 0;
    height: auto;
    box-shadow: inset 0px -1px 1px #e7ebf0;
    background-color: rgba(255,255,255,0.72);
    backdrop-filter: blur(20px);
    z-index: 5;
}

.nav-header-div{
    /* background-color: darkgreen; */
    padding: 1rem;
    display: flex;
    align-items: center;
}

.nav-header-div-lt{
    /* background-color: brown; */
    padding: 1rem;
    flex: 1;
}

.nav-header-div-rt{
    /* background-color: chocolate; */
    padding: 1rem;
    flex: 1;
}


/* Main view */

.main-view{
    /* padding: 0 1rem; */
}

.main-view-hero{
    /* background-color: darkmagenta; */
    padding: 0 1rem;
    display: flex;
    height: 540px;
}

.main-view-hero-lt{
    flex: 1;
    /* background-color: darkolivegreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-view-hero-rt{
    flex: 1;
    /* background-color: darkslategrey; */
}

.btn-regular{
    cursor: pointer;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #8A1010;
    color: #e7ebf0;
    text-decoration: none;
}

.btn-regular:hover{
    background-color: #f8fafc;
    color: #8A1010;
    border: 1px solid #8A1010;
    font-weight: bold;
}

/* Doc page */

.view{
    display: flex;
    height: 1000px;
}

aside{
    flex: 1;
    /* background-color: #313133;
    color: gainsboro; */
    /* position: fixed;
    height: 100%; */
    height: 100%;
    /* margin-top: 2rem; */
    border-right: 1px solid #e7ebf0;
    /* box-shadow: inset 0px -1px 1px #e7ebf0; */
    
}

.nav-pill{
    /* background-color: hotpink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    position: sticky;
    top: 150px;
}

.active{
    font-weight: bold;
}

main{
    flex: 5;
}

.nav-pill>a{
    text-decoration: none;
    /* color: #f8fafc; */
    color: black;
    margin: 1rem;
}

.main-view-container{
    margin: 2rem;
}


.avatar-x-large{
    width: 6rem;
    height: 6rem;
    font-size: 2.5rem;
}

.avatar-large{
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
}

.avatar-medium{
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
}

.avatar-small{
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
}

.avatar-x-small{
    width: 2rem;
    height: 2rem;
    font-size: 10px;
}

.avatar-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.component-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    border: 1px solid #e7ebf0;
    box-shadow: inset 0px -1px 1px #e7ebf0;
    padding: 2rem;
}

.avatar-letter{
    background-color: #8A1010;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e7ebf0;
    border-radius: 50%;
}

/* Badge */

.badge-container{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    position: relative;
}

.badge-left{
    display: inline-block;
}

.p-bold
{
    padding: 0; 
    margin: 0; 
    font-weight: bold;
}

.badge-container>span{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
    background-color: #8A1010;
    color: #e7ebf0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.badge-container>button{
    padding: 10px;
    cursor: pointer;
    border: 1px solid #e7ebf0;
    font-weight: bold;
    background-color: #e7ebf0;
}

/* Alert */

.alert-container{
    width: 90%;
    /* flex-grow: 1; */
    display: flex;
    align-items: center;
    padding: 0 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
}

.outlined-red{
    background-color: white;
    border: 1px solid #e74c3c;
}
.outlined-yellow{
    background-color: white;
    border: 1px solid #d2ab21;
}
.outlined-blue{
    background-color: white;
    border: 1px solid #3498db;
}
.outlined-green{
    background-color: white;
    border: 1px solid #2ecc71;
}

.red{
    background-color: #fee2e2;
}

.yellow{
    background-color: #fef9c3;
}

.blue{
    background-color: #dbeafe;
}

.green{
    background-color: #dcfce7;
}

.alert-container>p{
    margin-left: 1rem;
    /* font-weight: bold; */
    font-size: 1rem;
}

.vertical{
    display: flex;
    flex-direction: column;
}

/* Buttons */
.btn-small{
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #8A1010;
    color: #fcfcfc;
    text-decoration: none;
    font-weight: bold;
}

.btn-small:hover{
    background-color: #770d0d;
    /* color: #8A1010; */
    border: 1px solid #e78d8d;
    font-weight: bold;
    /* box-shadow: 1px 1px 10px 2px #fcfcfc; */
}

.btn-outlined{
    background-color: transparent;
    border: 1px solid #e78d8d;
    color: #8A1010;
    font-weight: bold;
}

.btn-outlined:hover{
    background-color: transparent;
    /* color: #8A1010; */
    border: 1px solid #8A1010;
    font-weight: bold;
}

.btn-text{
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: white;
    color: #8A1010;
    text-decoration: none;
    font-weight: bold;
}

.btn-text:hover{
    background-color: #fcfcfc;
    font-weight: bold;
}

.btn-icon{
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    border: 1px solid transparent;
    border-radius: 50%;
}

.btn-icon:hover{
    background-color: #fcfcfc;
}

.space-evenly{
    justify-content: space-evenly;
}

.btn-fab{
    cursor: pointer;
    background-color: #8A1010;
    padding: 1.5rem 1.5rem;
    border: none;
    border-radius: 50%;
    box-shadow: 1px 2px 6px 1px gainsboro;
    color: white;
}

.btn-fab:hover{
    background-color: #770d0d;
}